.todos-cursos div> :nth-child(1) .cabecalho-curso {
    background-image: url(../img/cursos/alimentos-e-bebidas.webp);
}

.todos-cursos div> :nth-child(2) .cabecalho-curso {
    background-image: url(../img/cursos/vestuario-e-moda.jpg);
}

.todos-cursos div> :nth-child(3) .cabecalho-curso {
    background-image: url(../img/cursos/eletrica.webp);
}

.todos-cursos div> :nth-child(4) .cabecalho-curso {
    background-image: url(../img/cursos/costrucao-civil.jpg);
}

.todos-cursos div> :nth-child(5) .cabecalho-curso {
    background-image: url(../img/cursos/logistica.jpg);
}

.todos-cursos div> :nth-child(6) .cabecalho-curso {
    background-image: url(../img/cursos/meio-ambiente.jpg);
}

.todos-cursos div> :nth-child(7) .cabecalho-curso {
    background-image: url(../img/cursos/refrigeracao-e-climatizacao.avif);
}

.todos-cursos div> :nth-child(8) .cabecalho-curso {
    background-image: url(../img/cursos/automativa.jpg);
}

.todos-cursos div> :nth-child(9) .cabecalho-curso {
    background-image: url(../img/cursos/quimica.jpg);
}

.todos-cursos div> :nth-child(10) .cabecalho-curso {
    background-image: url(../img/cursos/gestao.webp);
}

.todos-cursos div> :nth-child(11) .cabecalho-curso {
    background-image: url(../img/cursos/seguranca-do-trabalho.webp);
}

.todos-cursos div> :nth-child(12) .cabecalho-curso {
    background-image: url(../img/cursos/mineracao.jpg);
}

.todos-cursos div> :nth-child(13) .cabecalho-curso {
    background-image: url(../img/cursos/metalmecanica-solda.jpg);
}

.todos-cursos div> :nth-child(14) .cabecalho-curso {
    background-image: url(../img/cursos/tecnologia-da-informacao.webp);
}



/*ALIMENTOS E BEBIDAS*/
.todos-cursos div> :nth-child(1) {
    order: 10;
}

/*VESTUARIO E MODA*/
.todos-cursos div> :nth-child(2) {
    order: 1;
}

/*ELETRICA*/
.todos-cursos div> :nth-child(3) {
    order: 7;
}

/*CONSTRUCAO CIVIL*/
.todos-cursos div> :nth-child(4) {
    order: 6;
}

/*LOGISTICA*/
.todos-cursos div> :nth-child(5) {
    order: 9;
}

/*MEIO AMBIENTE*/
.todos-cursos div> :nth-child(6) {
    order: 5;
}

/*REFRIGERAÇAO*/
.todos-cursos div> :nth-child(7) {
    order: 0;
}

/*AUTOMOTIVA*/
.todos-cursos div> :nth-child(8) {
    order: 13;
}

/*QUIMICA*/
.todos-cursos div> :nth-child(9) {
    order: 4;
}

/*GESTAO*/
.todos-cursos div> :nth-child(10) {
    order: 11;
}

/*SEGURANCA DO TRABALHO*/
.todos-cursos div> :nth-child(11) {
    order: 2;
}

/*MINERACAO*/
.todos-cursos div> :nth-child(12) {
    order: 3;
}

/*METALMECANICA SOLDA*/
.todos-cursos div> :nth-child(13) {
    order: 8;
}

/*TECNOLOGIA DA INFORMACAO*/
.todos-cursos div> :nth-child(14) {
    order: 12;
}

.todos-cursos div> :nth-child(15) {
    order: 100;
    background-image: url(../img/Cresce-Hero-Banner-Senai.jpg);
    background-size: cover;
    background-repeat: no;
    height: 50rem;
}