:root {
  --cor-base: #f3f2ec;
  --cor-primaria: #021730;
  --cor-secundaria: #f7510f;
  --cor-sub-base: #f1f1f1;
  --cor-desfoque: rgba(0, 0, 0, 0.255);
  --cor-desfoque-escuro: rgba(0, 0, 0, 0.582);
  --cor-fundo-rodape: #0536A0;
}

@font-face {
  font-family: "poppins-black";
  src: url(../fonts/poppins/Poppins-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  font-family: "poppins-black";
  background-color: var(--cor-base);
  font-size: 10px;
  overflow-x: hidden;
}

#cabecalho {
  background-color: var(--cor-sub-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-size: 1.6rem;
  min-height: 10vh;
  box-shadow: 0px 0px 10px 1px var(--cor-desfoque);
}

.logo {
  width: 20rem;
}

.menu ul {
  display: flex;
  gap: 1.2rem;
}

.menu a {
  color: var(--cor-primaria);
  background-color: var(--cor-base);
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  border: 2px solid;
  transition: 0.3s ease-in-out;
}

.menu a:hover {
  color: var(--cor-secundaria);
}

.todos-cursos {
  box-shadow: 0px 0px 10px 1px var(--cor-desfoque);
}

.todos-cursos>div {
  display: flex;
  justify-content: space-evenly;
  align-items: self-start;
  flex-wrap: wrap;
}

.curso {
  font-size: 1.6rem;
  color: var(--cor-base);
  width: 55rem;
  margin: 2rem;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  /*box-shadow: 0px 0px 10px 0px var(--cor-desfoque);*/
  background-color: inherit;
}

.sub-titulo {
  font-size: 4rem;
  text-align: center;
  color: var(--cor-primaria);
  text-transform: uppercase;
  padding-top: 4rem;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  width: 140rem;
}

.curso li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid var(--cor-base);
  cursor: default;
  transition: 0.2s ease-in-out;
}

.curso li p:nth-child(1) {
  width: 60%;
}

.curso li:hover {
  background-color: var(--cor-secundaria);
}

.curso ul {
  background-color: var(--cor-primaria);
  font-size: 1.4rem;
}

.curso ul> :last-child {
  border-bottom: none;
}

.cabecalho-curso {
  height: 15rem;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  padding: 0 1rem;
}

.cabecalho-curso h3 {
  background-color: var(--cor-secundaria);
  color: var(--cor-sub-base);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  cursor: default;
}

.cabecalho-curso:hover h3 {
  color: var(--cor-base);
  background-color: var(--cor-primaria);
}

#rodape {
  min-height: 20vh;
  background-color: var(--cor-fundo-rodape);
  color: var(--cor-base);
}